* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
}
.navbar
{
    position: sticky;
    top: 0px;
    z-index: 3;
}

.container-fluid,
#hero {
  width: 90%;
  margin: auto;
}
.nav-link {
  color: #646567 !important;
}
.navbar-nav {
  gap: 30px;
  display: flex;
  justify-content: right;
  width: 100%;
}

#hero {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
}

.header-content-wrapper {
  gap: 30px;
  padding-inline: 15px;
  width: fit-content;
  box-shadow: 0px 0px 5px lightgray;
  border-radius: 5px;
}
.hero-content
{
   padding: 5px;
}
.hero-content > div {
  margin-left: 8px;
}
.hero-content > div > p {
  margin: 0px;
}
.hero-content-heading {
  font-weight: 700;
  font-size: 20px;
}
.hero-content-subheading {
  font-weight: 500;
  font-size: 12px;
  color: #4f4f4f;
}

.hero-left-last-content
{
    margin-top: 80px;
    width:fit-content;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px lightgray;
}

#login
{
    border-radius: 10px;
    background: white;
    text-align: center;
}

#login {
    position: relative;
    /* Set your main element's styles here */
  }

  #login::after {
    content: "";
    position: absolute;
    inset: 0px;  
 /* Control the offsets */
    z-index: -1; /* Place the element behind */
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 98, 255)); /* Your gradient here */
    filter: blur(10px); 
  }

  .input-field>input
  {
    width:70%;
    text-align: left;
    padding: 8px;
  }

  .input-field
  {
    margin-bottom: 5px;;
  }
  
  #apply-btn
  {
    width:90%;
    margin-inline: 12px;
    background: linear-gradient(to right, rgb(51, 0, 255), rgb(167, 5, 164)); /* Your gradient here */
    color:white;
  }

  
  #courses
  {
    background-color: #ebf8ff;
    padding:50px 100px
  }
  .course-heading
  {
    color:#992FED;
    font-style: italic;
  }
  .course-subheading
  {
    font-size: 40px;
  }

  .select-course
  {
    padding: 10px 15px;
    width:fit-content;
    background-color: white;
    border-radius: 10px;
  }
  td
  {
    width:200px;
    padding: 8px;
    border-bottom: 1px solid lightgray;
  }
 .guarantees>p
 {
    background-color: #ebf8ff;
    color:#0c6da4;
    padding: 2px;
    width:fit-content;
    font-size: 15px;
    border-radius: 8px;
 }

 .guarantees>.text-end
 {
    margin-left: 35px;
 }
 .text-small
 {
    font-size: 15px;
    opacity: 0.8;
 }

 #multiple-courses
 {
    gap:10px;
 }

 .guarantees-intermediate>p
 {
    background-color:rgba(255,239,216,1);
    color:rgb(151, 92, 9);
 }


 #companies
 {
    padding:50px 100px;
 }
 #companies>button
 {
    margin: auto;
 }


.company-logo
{
    width:150px;
}
.company-logo>img{
    width:100%;
}

.companies-logos
{
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    gap:80px;
    justify-content: space-around;
    align-items: center;
}


#reviews
{
    margin-top:100px;
    margin-bottom: 100px;
    padding-inline: 100px;
}

.review-cards>.card
{
    width:430px;
    padding: 20px;
    padding-bottom: 0px;
}
.user-photo
{
    width:60px;
    height:60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-photo>img{
    width:100%;
    
}
.user-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.user-info>img{
    width: 40px;
}

.user-review
{
    display: flex;
    justify-content: space-between !important;
    flex-direction: column;
    height: 100%;
}

.select-course:hover{
    border:2px solid #2f80ec !important;
}
@media screen and (max-width:900px) {
    .hero-left-wrapper
    {
        display: none;
    }
    #multiple-courses
    {
        flex-wrap: wrap;
    }
  }